body{
    background-image:url(../img/skele.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y:60%;
}
.vid {
    margin-top:20%;
    margin-bottom:50%;
    margin-left:11%;
}
.hero{
    background-image:url(../img/hero.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 78%;
    height: 500px;
    width: 100%;
}
.hero-c{
    background-image: linear-gradient(rgba(4,82,103, .6), rgba(6,164,180, .6) );
    height: 100%;
}
.thero{
    text-align: center;
    padding:10%;
    padding-top: 13%;
    color: white;
    font-family: sans-serif;
}
