body{
    background-image: url(../img/spiral.jpg );
    background-size: cover;
    background-position-x: 47%;
}
.tart{
    color:#E7DFC9;
    text-align: center;
    background-image:linear-gradient(rgba(4,82,103, .6), rgba(6,164,180, .6));
    margin-top: 10%;
}

